@use "../mixins/mini";
@use "../mixins/content";
@use "../mixins/modal";

.footer {
    padding-top: 72px;
    padding-bottom: 40px;
    background-color: var(--basic-black);

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
        padding-bottom: 48px;
    }

    .logo-link {
        @include mini.flex-all-center;

        img {
            filter: invert(1);
        }
    }

    .nav {
        > ul {
            display: flex;
            gap: 88px;
            list-style: none;
            padding-left: 0;
            margin-block: 0;

            > li {
                display: flex;
                gap: 40px;
            }

            > li > a {
                display: block;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: var(--basic-white);
                transition: all ease-in-out .4s;


                &:hover {
                    color: var(--primary-blue-2-hover)
                }
            }

            > li > ul {
                display: flex;
                gap: 44px;
                margin-top: 10px;
                padding-left: 0;
                margin-block: 0;
                list-style: none;

                > li > a {
                    display: block;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 133%;
                    color: var(--additional-colors-blue);
                    transition: all ease-in-out .4s;


                    &:hover {
                        color: var(--primary-light-blue);
                    }
                }

                > li:not(:last-child) {
                    margin-bottom: 8px;
                }

                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 133%;
                    color: #468aff;
                    display: block;
                    margin-bottom: 4px;
                }

                > li > ul {
                    padding-left: 0;
                    list-style: none;
                    margin-top: 2px;
                    margin-bottom: 0;

                    > li:not(:last-child) {
                        margin-bottom: 8px;
                    }

                    > li > a {
                        display: block;
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--600);
                        transition: all ease-in-out .4s;


                        &:hover {
                            color: var(--basic-white);
                        }
                    }
                }
            }
        }
    }

    &__main {
        @include mini.flex-all-sb;
        gap: 20px;
        padding-block: 32px;
        border-top: 1px solid var(--grey-6);
        border-bottom: 1px solid var(--grey-6);
        margin-bottom: 48px;
    }

    &__contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 135px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 4px;

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 133%;
                color: var(--additional-colors-blue);
            }

            p,
            a {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                color: var(--basic-white);
            }

            p {
                margin-block: 0;
            }

            a {
                transition: all ease-in-out .4s;

                &:hover {
                    color: var(--primary-blue-2-hover);
                }
            }
        }
    }

    .socials {
        @include mini.flex-v-center;
        gap: 8px;

        a {
            display: block;

            svg {
                transition: all ease-in-out .4s;
            }

            &:hover {
                svg {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__bottom {
        @include mini.flex-all-sb;
        gap: 20px;

        .copyright {
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: var(--basic-white);
        }

        .privacy-links {
            ul {
                @include mini.flex-v-center;
                gap: 28px;
                padding-left: 0;
                margin-block: 0;
            }
            a {
                display: block;
                padding: 2px 17px;
                font-weight: 400;
                font-size: 16px;
                line-height: 175%;
                color: var(--basic-white);
                transition: all ease-in-out .4s;

                &:hover {
                    color: var(--primary-blue-2-hover);
                }
            }
        }
    }
}

.graph-modal {
    background-color: var(--basic-white);
    padding-block: 20px;

    &__container {
        @include modal.modal;
    }
}
