@use "../mixins/mini";
@use "../mixins/content";
@use "../mixins/mobile-menu";

.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    cursor: default;
    padding: 32px 0;
    transition: all ease-in-out .4s;

    &__container {
        @include mini.flex-all-sb;
    }

    .logo-link {
        font-weight: 700;
        font-size: 22px;
        line-height: 127%;
        letter-spacing: -0.02em;
        color: var(--basic-white);

        span {
            font-weight: 400;
        }
    }

    .burger {
        display: none;
    }

    &__menu-wrapper {
        @include mini.flex-v-center;
        gap: 8px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        padding: 8px;
        background-color: var(--basic-white);
    }

    .nav {
        ul {
            @include mini.flex-v-center;
            gap: 8px;
            list-style: none;
            margin-block: 0;
            padding-left: 0;

            a {
                border-radius: 10px;
                padding: 8px;
                font-weight: 600;
                font-size: 15px;
                color: var(--basic-black);
                background-color: transparent;
                transition: all ease-in-out .4s;

                &:hover {
                    background-color: var(--grey-1);
                    color: var(--primary-blue-1-enabled);
                }
            }
        }
    }

    &__right {
        @include mini.flex-v-center;
        gap: 8px;

        .mod-languages {
            .dropdown-toggle {
                position: relative;
                z-index: 2;
                padding-block: 15px;
                padding-right: 8px;
                padding-left: 52px;
                font-size: 15px;
                min-height: 50px;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &::before {
                    background-image: url('../images/icon/arrow.svg');
                    transition: all ease-in-out .4s;
                    width: 20px;
                    height: 20px;
                    left: 8px;
                }

                &::after {
                    background-image: url('../images/icon/languages.svg');
                    width: 16px;
                    height: 16px;
                    left: 32px;
                }

                &.show {
                    &::before {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }

            .dropdown-menu {
                list-style: none;
                padding-left: 0;
                border-radius: 0 0 16px 16px;
                margin-block: 0;
                background-color: var(--basic-white);
                margin-top: 0;
                margin-inline: 1px;
                padding-inline: 12px;
                max-height: 0;
                padding-block: 0;
                opacity: 0;
                visibility: hidden;
                z-index: 1;
                transition: all ease-in-out .4s;

                a {
                    font-weight: 600;
                    font-size: 15px;
                    color: var(--basic-black);
                    text-align: center;
                    display: block;
                    transition: all ease-in-out .4s;

                    &:hover {
                        color: var(--primary-blue-2-hover)
                    }
                }

                &.show {
                    max-height: 100px;
                    margin-top: -12px;
                    padding: 20px 12px 10px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .mobile-menu {
        @include mobile-menu.mobile-menu;

        &__container {
            position: relative;
        }

        &__content {
            @include mini.flex-all-sb;
            flex-direction: column;
            height: 100%;
            padding: 4px 16px 58px;
        }

        &__top {
            @include mini.flex-all-sb;
            gap: 20px;
            width: 100%;

            .logo-link {
                color: var(--additional-colors-blue);
            }
        }

        .nav {
            margin-top: 65px;
            margin-bottom: auto;

            ul {
                flex-direction: column;
                gap: 16px;

                a {
                    font-weight: 500;
                    line-height: 120%;
                    font-size: 40px;
                }
            }
        }

        &__bottom {
            @include mini.flex-all-sb;
            gap: 20px;
            width: 100%;
            border-radius: 800px;
            background-color: var(--grey-1);
            padding: 4px 4px 4px 12px;

            .mod-languages {
                &__select {
                    @include mini.flex-v-center;
                    gap: 4px;
                    position: relative;
                    z-index: 2;
                    padding-left: 20px;


                    &::before{
                        content: "";
                        position: absolute;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        top: 50%;
                        transform: translateY(-50%);
                        background-image: url('../images/icon/languages.svg');
                        width: 16px;
                        height: 16px;
                        left: 0;
                    }
                }

                .dropdown-toggle {
                    justify-content: center;
                    padding: 4px 20px;
                    border-radius: 16px;
                    background-color:  var(--basic-black);
                    font-weight: 600;
                    font-size: 15px;
                    min-width: 81px;
                    text-align: center;
                    min-height: 28px;
                    color: var(--basic-white);
                }

                .dropdown-menu {
                    @include mini.flex-v-center;
                    gap: 4px;
                    padding-left: 0;
                    margin-block: 0;
                    list-style: none;

                    a {
                        display: block;
                        min-width: 81px;
                        min-height: 28px;
                        padding: 4px 20px;
                        text-align: center;
                        border-radius: 16px;
                        background-color: var(--basic-white);
                        color: var(--basic-black);
                        font-weight: 600;
                        font-size: 15px;
                        color: var(--basic-black);
                    }
                }
            }
        }
    }
}

.header.active-scroll {
    padding: 24px 0;
    background-color: var(--additional-colors-blue);
}
