/* stylelint-disable */

@mixin custom-checkbox {
  position: relative;

  input {
    appearance: none;
    position: absolute;
  }

  div {
    padding-left: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--grey-4);
    cursor: pointer;
    transition: all ease-in-out .4s;

    &:hover {
        color: var(--primary-primary-2);

        .price {
            color: var(--primary-primary-2);
        }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 25px;
      height: 25px;
      border-radius: 4px;
      border: 1px solid var(--grey-3);
      background-color: var(--grey-1-500);
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 25px;
      height: 25px;
      box-sizing: border-box;
      background-image: url('../images/icon/check.svg');
      background-position: center;
      background-size: 15px 15px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--additional-colors-blue);
        color: var(--additional-colors-blue);
        transition: all ease-in-out .4s;

        &:hover {
            color: var(--basic-black);
        }
    }
  }

  input:checked + div::before {
    background-color: var(--primary-blue-1-enabled);
    border-color: var(--primary-blue-1-enabled);
  }

  input:checked + div::after {
    opacity: 1;
  }

  input:disabled + div::before {
    background-color: var(--primary-primary-1);
    border-color: var(--primary-primary-1);
  }

  input:disabled + div {
    cursor: default;
    color: var(--neutral-neutral-100);
  }
}
