@use "mini";
@use "content";
@use "breakpoint";

@mixin modal {
    display: flex;
    width: 100%;
    border-radius: 0;
    height: 100%;
    padding: 0 120px;

    .graph-modal__content {
        @include mini.flex-v-center;
        justify-content: space-evenly;
        gap: 80px;
        padding-block: 122px;
    }

    .graph-modal__close {
        @include mini.flex-all-center;
        background: none;
        width: 36px;
        height: 36px;
        top: 8px;
        right: 28px;
        transition: all ease-in-out .6s;
    }

    .graph-modal__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        color: #121924;
        margin-top: 0;
        margin-bottom: 8px;
    }

    .graph-modal__text {
        font-weight: 500;
        font-size: 24px;
        line-height: 117%;
        color: #374c6b;
        margin-top: 0;
        margin-bottom: 32px;
    }

    &.modal-form {
        .modal-form {
            &__img {
                max-width: 712px;
                border-radius: 32px;
            }
        }
    }

    .form {
        @include content.contactForm;
    }

    @include breakpoint.big-desktop {
        padding-inline: 80px;

        &.modal-form {
            .modal-form {
                &__img {
                    max-width: 512px;
                }
            }
        }

        .graph-modal__content {
            gap: 40px
        }
    }

    @include breakpoint.small-desktop {
        padding-inline: 40px;

        &.modal-form {
            .modal-form {
                &__img {
                    max-width: 412px;
                }
            }
        }
    }

    @include breakpoint.tablet {
        &.modal-form {
            .modal-form {
                &__img {
                    display: none;
                }
            }
        }
    }

    @include breakpoint.small-tablet {
        padding-inline: 24px;

        .graph-modal__content {
            padding-block: 60px;
        }
    }

    @include breakpoint.mobile {
        .graph-modal__close {
            width: 24px;
            height: 24px;
            top: 2px;
            right: 22px;
        }

        .graph-modal__form {
            .form-group-wrapper {
                flex-direction: column;
                align-items: inherit;
            }

            .btn {
                max-width: inherit;
                margin-left: 0;
            }
        }
    }
}
