<div class="page-about-us">
    <section class="about-us">
        <div class="wrapper">
            <div class="about-us__container">
                <div class="content">
                    <h1>
                        About us
                    </h1>
                    <p>
                        Neola Systems is a B2B technology integrator helping companies design, deploy and support modern IT environments.
                        <br><br>
                        We bring together workplace technology, networks, cybersecurity, cloud services and infrastructure — from selecting the right solution to implementation and ongoing support.
                    </p>
                </div>
                <div class="labels">
                    <div class="label">
                        <img src="./images/about-us/main-screen/hpe.svg" alt="hpe icon">
                    </div>
                    <div class="label">
                        <img src="./images/about-us/main-screen/microsoft.svg" alt="microsoft icon">
                    </div>
                    <div class="label">
                        <img src="./images/about-us/main-screen/fortinet.svg" alt="fortinet icon">
                    </div>
                    <div class="label">
                        <img src="./images/about-us/main-screen/veem.png" alt="veem icon">
                    </div>
                    <div class="label">
                        <img src="./images/about-us/main-screen/azure.png" alt="azure icon">
                    </div>
                    <div class="label">
                        <img src="./images/about-us/main-screen/ios.svg" alt="ioc icon">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="about-info">
        <div class="wrapper">
            <div class="about-info__container">
                <div class="item">
                    <span>25+</span>
                    <h3>Years in IT integration</h3>
                    <p>Proven experience across complexbusiness IT projects.</p>
                </div>
                <div class="item">
                    <span>13+</span>
                    <h3>Technology partnership</h3>
                    <p>Strong relationships with leading globaltechnology vendors.</p>
                </div>
                <div class="item">
                    <span>520+</span>
                    <h3>Certified engineers & architects</h3>
                    <p>Certified technical expertise at scale.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="vendors">
        <div class="wrapper">
            <span class="section-subtitle">
                Vendors & solutions
            </span>
            <h2 class="section-title">
                Technology from<br>
                leading vendors. One<br>
                coordinated solution.
            </h2>
            <div class="vendors__container">
                <div class="item">
                    <div class="images">
                        <img src="./images/about-us/vendors/1.png" alt="microsoft logo">
                    </div>
                    <p>
                        Microsoft 365, Azure, security, collaboration and modern workplace.
                    </p>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="./images/about-us/vendors/2.png" alt="hpe logo">
                    </div>
                    <p>
                        Servers, storage, data centre infrastructure, wired and wireless networks.
                    </p>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="./images/about-us/vendors/3.png" alt="lenovo, dell, ios logos">
                    </div>
                    <p>
                        Business devices, employee workplaces, workstations and lifecycle services.
                    </p>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="./images/about-us/vendors/4.png" alt="fortinet, cisco logos">
                    </div>
                    <p>
                        Networking, cybersecurity, secure access and infrastructure.
                    </p>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="./images/about-us/vendors/5.png" alt="aws logo">
                    </div>
                    <p>
                        Business devices, employee workplaces, workstations and lifecycle services.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="page-contacts">
        <section class="our-team">
            <div class="wrapper">
                <span class="section-subtitle">
                    Our Team
                </span>
                <h2 class="section-title">
                    People behind the technology
                </h2>
                <div class="our-team__container">
                    <div class="team">
                        <img src="./images/contacts/team/1.png" alt="Anton Shlapak">
                        <h3>
                            Anton Shlapak
                        </h3>
                        <span>
                            Regional Director CEE
                        </span>
                        <a href="tel:+48721329955">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.0621 20.2183C17.1077 22.1726 12.1028 20.3363 7.88327 16.1167C3.66372 11.8972 1.82739 6.89227 3.7817 4.93795L5.06847 3.65118C5.9568 2.76286 7.42054 2.78634 8.33784 3.70363L10.3309 5.69672C11.2482 6.61401 11.2717 8.07776 10.3834 8.96609L10.107 9.24247C9.62737 9.72209 9.58045 10.4958 10.0261 11.0359C10.456 11.5568 10.9194 12.0756 11.4219 12.5781C11.9244 13.0806 12.4432 13.544 12.9641 13.9739C13.5042 14.4196 14.2779 14.3726 14.7575 13.893L15.0339 13.6166C15.9222 12.7283 17.386 12.7518 18.3033 13.6691L20.2964 15.6622C21.2137 16.5795 21.2371 18.0432 20.3488 18.9315L19.0621 20.2183Z" stroke="#238DFF" stroke-width="1.5"/>
                            </svg>
                            +48 721 329 955
                        </a>
                        <a href="mailto:Anton.Shlapak@neola.systems">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2" y="4" width="20" height="16" rx="5" stroke="#238DFF" stroke-width="1.5"/>
                                <path opacity="0.3" d="M6 9L10.8 12.6C11.5111 13.1333 12.4889 13.1333 13.2 12.6L18 9" stroke="#238DFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Anton.Shlapak@neola.systems
                        </a>
                    </div>
                    <div class="team">
                        <img src="./images/contacts/team/2.png" alt="George Barzashvili">
                        <h3>
                            George Barzashvili
                        </h3>
                        <span>
                            Head of Sales
                        </span>
                        <a href="tel:+48573816711">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.0621 20.2183C17.1077 22.1726 12.1028 20.3363 7.88327 16.1167C3.66372 11.8972 1.82739 6.89227 3.7817 4.93795L5.06847 3.65118C5.9568 2.76286 7.42054 2.78634 8.33784 3.70363L10.3309 5.69672C11.2482 6.61401 11.2717 8.07776 10.3834 8.96609L10.107 9.24247C9.62737 9.72209 9.58045 10.4958 10.0261 11.0359C10.456 11.5568 10.9194 12.0756 11.4219 12.5781C11.9244 13.0806 12.4432 13.544 12.9641 13.9739C13.5042 14.4196 14.2779 14.3726 14.7575 13.893L15.0339 13.6166C15.9222 12.7283 17.386 12.7518 18.3033 13.6691L20.2964 15.6622C21.2137 16.5795 21.2371 18.0432 20.3488 18.9315L19.0621 20.2183Z" stroke="#238DFF" stroke-width="1.5"/>
                            </svg>
                            +48 573 816 711
                        </a>
                        <a href="mailto:George.Barzashvili@neola.systems">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2" y="4" width="20" height="16" rx="5" stroke="#238DFF" stroke-width="1.5"/>
                                <path opacity="0.3" d="M6 9L10.8 12.6C11.5111 13.1333 12.4889 13.1333 13.2 12.6L18 9" stroke="#238DFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            George.Barzashvili@neola.systems
                        </a>
                    </div>
                    <div class="team">
                        <img src="./images/contacts/team/3.png" alt="Oleksandr Chopa">
                        <h3>
                            Oleksandr Chopa
                        </h3>
                        <span>
                            Sales Manager
                        </span>
                        <a href="tel:+48575548456">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.0621 20.2183C17.1077 22.1726 12.1028 20.3363 7.88327 16.1167C3.66372 11.8972 1.82739 6.89227 3.7817 4.93795L5.06847 3.65118C5.9568 2.76286 7.42054 2.78634 8.33784 3.70363L10.3309 5.69672C11.2482 6.61401 11.2717 8.07776 10.3834 8.96609L10.107 9.24247C9.62737 9.72209 9.58045 10.4958 10.0261 11.0359C10.456 11.5568 10.9194 12.0756 11.4219 12.5781C11.9244 13.0806 12.4432 13.544 12.9641 13.9739C13.5042 14.4196 14.2779 14.3726 14.7575 13.893L15.0339 13.6166C15.9222 12.7283 17.386 12.7518 18.3033 13.6691L20.2964 15.6622C21.2137 16.5795 21.2371 18.0432 20.3488 18.9315L19.0621 20.2183Z" stroke="#238DFF" stroke-width="1.5"/>
                            </svg>
                            +48 575 548 456
                        </a>
                        <a href="mailto:Oleksandr.Chopa@neola.systems">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2" y="4" width="20" height="16" rx="5" stroke="#238DFF" stroke-width="1.5"/>
                                <path opacity="0.3" d="M6 9L10.8 12.6C11.5111 13.1333 12.4889 13.1333 13.2 12.6L18 9" stroke="#238DFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Oleksandr.Chopa@neola.systems
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="contact-form">
        <div class="wrapper">
            <div class="contact-form__container">
                <div class="content">
                    <h3 class="section-subtitle">
                        Contact us
                    </h3>
                    <h2 class="section-title">
                        <span>Let’s get</span> in touch
                    </h2>
                    <p class="section-text">
                        Tell us what you need — cloud migration, cybersecurity, networking, infrastructure, workplace devices, or ongoing IT support. We’ll review your request and help you choose the right next step.
                    </p>
                </div>
                <form class="form u-form" id="uForm_1" action="#" enctype="multipart/form-data" method="POST">
                    <div class="form__wrapper">
                        <input class="uForm__extended" name="nospam" type="text" value="uform-empty" required="">
                        <input class="uForm__extended" name="Текст" type="hidden" value="Contact us form from neola.systems: Let’s get in touch">
                        <div class="uForm__error-msg" id="uForm__error-msg_1"></div>
                        <div class="form__group-wrapper">
                            <div class="form-group">
                                <input class="form__input form-control" id="name1" type="text" name="name" placeholder="First name" required>
                                <span>
                                    first name
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form__input form-control" id="surname1" type="text" name="surname" placeholder="Last name" required>
                                <span>
                                    last name
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form__input form-control" id="email1" type="email" name="email" placeholder="Business email" required>
                                <span>
                                    business email
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form__input form-control" id="tel1" type="tel" name="tel" placeholder="Phone" required>
                                <span>
                                    phone
                                </span>
                            </div>
                        </div>
                        <label class="form-checkbox custom-checkbox">
                            <input
                                id="uForm__checkbox-1"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-1"
                                value="I here by authorize the use of my personal information provided in the above contact form for processing purposes, and I consent to receiving promotional and marketing communications in accordance with the Neola Privacy Policy."
                            >
                            <div>
                                I here by authorize the use of my personal information provided in the above contact form for processing purposes, and I consent to receiving promotional and marketing communications in accordance with the Neola
                                <a href="#">Privacy Policy.</a>
                            </div>
                        </label>
                    </div>
                    <button id="uForm__submit_1" class="btn btn--primary btn--large" type="submit" disabled>
                        Request a consultation
                        <img src="../images/icon/btn-arrow.svg" alt="btn arrow">
                        <div id="uForm__preload_1" class="uForm__preload"></div>
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>
