<div class="page-blogs">
    <section class="blogs">
        <div class="wrapper">
            <h2 class="section-title">
                Blog
            </h2>
            <div class="blogs__list">
                <div class="item">
                    <div class="image-wrap">
                        <img src="./images/blogs/list/1.jpg" alt="">
                    </div>
                    <div class="content">
                        <span>
                            January 22, 2023
                        </span>
                        <h1>
                            ULA: How Innovations in Analytics Make Cities Safer and More Efficient
                        </h1>
                        <p>
                            Modern cities face various challenges related to security and efficient management issues. The Unified Lantec Analytics (ULA) system is an innovative solution designed to create conditions under which residents of cities and...
                        </p>
                        <a href="#">
                            Read more
                            <img src="./images/icon/arrow-line.svg" alt="arrow icon">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="image-wrap">
                        <img src="./images/blogs/list/2.jpg" alt="">
                    </div>
                    <div class="content">
                        <span>
                            March 04, 2024
                        </span>
                        <h2>
                            Bring virtual connections to life with Microsoft Mesh, now generally available in Microsoft Teams
                        </h2>
                        <p>
                            The modern work environment has undergone significant changes, yet the essence of a thriving workplace remains ...
                        </p>
                        <a href="#">
                            Read more
                            <img src="./images/icon/arrow-line.svg" alt="arrow icon">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="image-wrap">
                        <img src="./images/blogs/list/3.jpg" alt="">
                    </div>
                    <div class="content">
                        <span>
                            January 09, 2024
                        </span>
                        <h2>
                            ULA Video makes logistics safer and more efficient
                        </h2>
                        <p>
                            ULA Video is a Ukrainian innovative analytical system that provides new opportunities for optimizing logistics processes...
                        </p>
                        <a href="#">
                            Read more
                            <img src="./images/icon/arrow-line.svg" alt="arrow icon">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="image-wrap">
                        <img src="./images/blogs/list/4.jpg" alt="">
                    </div>
                    <div class="content">
                        <span>
                            December 28, 2023
                        </span>
                        <h2>
                            The VMware solution in the AWS cloud is easy, familiar and convenient
                        </h2>
                        <p>
                            We recently explored the utilization of a well-known VMware product in the Azure cloud. However, a pertinent question…
                        </p>
                        <a href="#">
                            Read more
                            <img src="./images/icon/arrow-line.svg" alt="arrow icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
