<div class="page-legal">
    <section class="legal">
        <div class="wrapper">
            <h1>
                COOKIES POLICY
            </h1>
            <p>
                Date of entry into force: "07" of November, 2023
            </p>
        </div>
    </section>
    <div class="legal-body">
        <div class="wrapper">
            <div class="legal-body__container">
                <p>
                    "NEOLA SYSTEMS" Ltd. and our service providers and/or partners (hereinafter referred to as "We") collect certain information about users of this website by using certain automated services. For example, we may use cookies and web beacons when user interacting with our website, advertising, applications or using other digital resources.
                </p>
                <p>
                    A cookie is a text entry that a web server places in the client device's persistent memory. Typically, cookies are used to support authorized sessions or to configure a custom interface, font size, color scheme, site language, etc., to preserve your preferences and generally provide a more comfortable usage of the site. A web beacon, also called an Internet tag, a pixel tag, or a blank GIF file, is used to return information to a web server.
                </p>
                <p>
                    Visiting and using this site is completely anonymous. We collect mostly statistics on popular pages, site database searches, bug information and other impersonal data to further improve our services. We may also use cookies to collect information, which may include browser type, operating system, IP addresses, link source of URL, and information about actions taken with our digital resources.
                </p>
                <p>
                    Please note that the main purpose of using Cookies on this site is not to identify you as a user, but to provide a better service.
                </p>
                <p>
                    Every time you visit our Site, you will be prompted to accept or refuse cookies. The purpose is to enable the site to remember your preferences(such as username and password, language, etc.) for a certain period. That way, you don’t have to re-enter them when browsing around the site during the same visit.
                </p>
                <p>
                    There are some cookies that we must include for certain web pages to function. For this reason, they do not require your consent. In particular: authentication cookies and technical cookies (required by certain IT systems). Authentication cookies are stored when you log in to the Site. When you do this, you accept the associated privacy policy.
                </p>
                <p>
                    Cookies can also be used to establish anonymized statistics about the browsing experience on our sites.We may also use third-party web analytics services on our websites and other digital resources. Therefore, in addition to its own cookies, this site may store other additional files due to the use of third-party services, such as Google Analytics and others
                </p>
                <p>
                    Providers of such services may enable us to use cookies and web beacons to analyze the use of our websites and other digital resources by users. This analysis may include gathering information about your actions with our websites and digital resources, which will be used to show you promotional materials based on your personal preferences. The information we collect may also include details of specific pages or advertisements that you have viewed on our websites and the actions you have taken on our websites and other digital resources.
                </p>
                <p>
                    The Analytics cookies simply assess how you interact with our website – as an anonymous user (the data gathered does not identify you personally). Also, this data is not shared with any third parties or used for any other purpose. The anonymized statistics could be shared with contractors working on communication projects under contractual agreement with us.
                </p>
                <p>
                    Some of our pages display content from external providers, e.g. YouTube, Facebook and Twitter.To view this third-party content, you first have to accept their specific terms and conditions. This includes their cookie policies, which we have no control over. But if you do not view this content, no third-party cookies are installed on your device.
                </p>
                <p>
                    You can delete all cookies that are already on your device by clearing the browsing history of your browser. This will remove all cookies from all websites you have visited. Be aware though that you may also lose some saved information (e.g. saved login details, site preferences). For more detailed control over site-specific cookies, check the privacy and cookie settings in your preferred browser. You can set most modern browsers to prevent any cookies being placed on your device, but you may then have to manually adjust some preferences every time you visit a site/page. And some services and functionalities may not work properly at all (e.g. profile logging-in).
                </p>
                <p>
                    However, please note that if you use anonymous browser mode, block or delete cookies, you will not be able to use all the features of our websites or other digital resources (e.g. profile logging-in).
                </p>
                <p>
                    In addition, we draw your attention to the fact that in any case, the use of cookies may not harm your device or your data. We confirm and guarantee that their storage on disk is safe.
                </p>
                <br><br>
                <h2>
                    Action of this policy, changes and messages
                </h2>
                <p>
                    This Policy takes effect from the moment they are posted on this Site.
                </p>
                <p>
                    From time to time, we will review the terms of our services, including the provisions of this Policy.
                </p>
                <p>
                    All changes and updates will take effect immediately after their publication on the Site. After making changes to this Policy, we will notify you within a reasonable time by posting a notice on the main page of the Site and indicating a new effective date at the top of this page. We encourage you to review this page periodically to keep informed of the latest changes to this Policy.
                </p>
                <br><br>
                <h2>
                    Contacts
                </h2>
                <p>
                    Any questions and suggestions on these Terms of Use can be sent to our e-mail <a href="mailto:office@neola.systems">office@neola.systems</a> or at the following postal address:
                </p>
                <p>
                    "NEOLA SYSTEMS" LTD.<br>
                    Aleja Stanów Zjednoczonych 59, 04-028 Warsaw, Poland<br>
                    Sąd Rejonowy dla m.st. Warszawy w Warszawie,<br>
                    XIV Wydział Gospodarczy Krajowego Rejestru Sądowego
                </p>
                <p>
                    Contact telephones:<br>
                    <a href="tel:+48221524821">+48 22 152 48 21</a>
                </p>
            </div>
        </div>
    </div>
</div>
