<footer class="footer">
    <div class="wrapper">
        <div class="footer__top">
            <a href="/" class="logo-link">
                neola.<span>systems</span>
            </a>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#">Offers</a>
                    </li>
                    <li>
                        <a href="#">Areas</a>
                        <ul>
                            <li>
                                <a href="#">Cloud Services</a>
                                <ul>
                                    <li><a href="#">Microsoft 365</a></li>
                                    <li><a href="#">Azure</a></li>
                                    <li><a href="#">AWS</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Security</a>
                                <ul>
                                    <li><a href="#">Fortinet</a></li>
                                    <li><a href="#">Zerto</a></li>
                                    <li><a href="#">Veeam</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Networking</a>
                                <ul>
                                    <li><a href="#">HPE Aruba</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"IT Equipment></a>
                                <ul>
                                    <li><a href="#">HP Inc</a></li>
                                    <li><a href="#">Lenovo</a></li>
                                    <li><a href="#">Apple Biz</a></li>
                                    <li><a href="#">Dell</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__main">
            <div class="footer__contacts">
                <div class="item">
                    <span>email</span>
                    <a href="mailto:office@neola.systems">
                        office@neola.systems
                    </a>
                </div>
                <div class="item">
                    <span>phone</span>
                    <a href="tel:+35924371318">
                        +359 2 437 1318
                    </a>
                </div>
                <div class="item">
                    <span>adress</span>
                    <a href="#" target="_blank">
                        Bulgaria, Sofia 1000, Sofia Municipality, Oborishte District, 5<br>
                        Knyaz Alexander Dondukov St., Entrance B, 7th Floor, Office 27.
                    </a>
                </div>
            </div>
            <ul class="socials list-reset">
                <li>
                    <a href="#" class="socials__link" target="_blank">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_6416_419)">
                            <path d="M2 3.4325C2 2.64125 2.6575 2 3.46875 2H20.5312C21.3425 2 22 2.64125 22 3.4325V20.5675C22 21.3588 21.3425 22 20.5312 22H3.46875C2.6575 22 2 21.3588 2 20.5675V3.4325ZM8.17875 18.7425V9.71125H5.1775V18.7425H8.17875ZM6.67875 8.4775C7.725 8.4775 8.37625 7.785 8.37625 6.9175C8.3575 6.03125 7.72625 5.3575 6.69875 5.3575C5.67125 5.3575 5 6.0325 5 6.9175C5 7.785 5.65125 8.4775 6.65875 8.4775H6.67875ZM12.8138 18.7425V13.6988C12.8138 13.4288 12.8337 13.1587 12.9137 12.9662C13.13 12.4275 13.6238 11.8687 14.4538 11.8687C15.54 11.8687 15.9738 12.6963 15.9738 13.9113V18.7425H18.975V13.5625C18.975 10.7875 17.495 9.4975 15.52 9.4975C13.9275 9.4975 13.2138 10.3725 12.8138 10.9888V11.02H12.7938C12.8004 11.0096 12.8071 10.9991 12.8138 10.9888V9.71125H9.81375C9.85125 10.5588 9.81375 18.7425 9.81375 18.7425H12.8138Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_6416_419">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="socials__link" target="_blank">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_6416_427)">
                                <path d="M20.9 2H3.1C2.80826 2 2.52847 2.11589 2.32218 2.32218C2.11589 2.52847 2 2.80826 2 3.1V20.9C2 21.1917 2.11589 21.4715 2.32218 21.6778C2.52847 21.8841 2.80826 22 3.1 22H12.68V14.25H10.08V11.25H12.68V9C12.6261 8.47176 12.6885 7.93813 12.8627 7.43654C13.0369 6.93495 13.3188 6.47755 13.6885 6.09641C14.0582 5.71528 14.5068 5.41964 15.0028 5.23024C15.4989 5.04083 16.0304 4.96225 16.56 5C17.3383 4.99521 18.1163 5.03528 18.89 5.12V7.82H17.3C16.04 7.82 15.8 8.42 15.8 9.29V11.22H18.8L18.41 14.22H15.8V22H20.9C21.0445 22 21.1875 21.9715 21.321 21.9163C21.4544 21.861 21.5757 21.78 21.6778 21.6778C21.78 21.5757 21.861 21.4544 21.9163 21.321C21.9715 21.1875 22 21.0445 22 20.9V3.1C22 2.95555 21.9715 2.81251 21.9163 2.67905C21.861 2.54559 21.78 2.42433 21.6778 2.32218C21.5757 2.22004 21.4544 2.13901 21.321 2.08373C21.1875 2.02845 21.0445 2 20.9 2Z" fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_6416_427">
                                <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__bottom">
            <span class="copyright">
                ©2026 Neola.Systems All Rights Reserved
            </span>
            <div class="privacy-links">
                <ul>
                    <li><a href="#">Terms of use </a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Cookies policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
