<footer class="footer">
    <div class="footer__container">
        <div class="wrapper">
            <div class="footer__top">
                <a href="/" class="logo-link">
                    neola.systems
                </a>
                <ul class="socials list-reset">
                    <li>
                        <a href="https://www.instagram.com/aivi.limited/" class="socials__link" target="_blank">
                            <svg class="icon">
                                <use href="./images/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@aivi.limited" class="socials__link" target="_blank">
                            <svg class="icon">
                                <use href="./images/sprite.svg#tiktok"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="socials__link" target="_blank">
                            <svg class="icon">
                                <use href="./images/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.threads.net/@aivi.limited" class="socials__link" target="_blank">
                            <svg class="icon">
                                <use href="./images/sprite.svg#threads"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/aivi.limited" class="socials__link" target="_blank">
                            <svg class="icon">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@AIVI.limited" class="socials__link" target="_blank">
                            <svg class="icon">
                                <use href="./images/sprite.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="socials__link socials__link--stroke" target="_blank">
                            <svg class="icon">
                                <use href="./images/sprite.svg#fetlife"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://medium.com/@aivi.limited" class="socials__link" target="_blank">
                            <svg class="icon">
                                <use href="./images/sprite.svg#medium"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__main">
                <div class="subscribe">
                    <h3>
                        Get insights about the economics of creator collectibles and how scarcity builds long‑term value
                    </h3>
                    <form class="form u-form" id="uForm_3" action="#" enctype="multipart/form-data" method="POST">
                        <input class="uForm__extended" name="nospam" type="text" value="uform-empty" required="">
                        <input class="uForm__extended" name="AIVI" type="hidden" value="Subscribe AIVI">
                        <div class="uForm__error-msg" id="uForm__error-msg_3"></div>
                        <div class="form-group">
                            <input class="form__input form-control" id="email3" type="text" name="email" placeholder="E-mail" required="">
                        </div>
                        <div class="form-action">
                            <button id="uForm__submit_3" class="btn btn--white" type="submit">
                                Subscribe
                                <div id="uForm__preload_3" class="uForm__preload"></div>
                            </button>
                            <span>
                                * Occasional emails, no spam
                            </span>
                        </div>
                    </form>
                </div>
                <div class="footer__menu">
                    <div class="item">
                        <h3>
                            For Creators
                        </h3>
                        <nav class="nav">
							<ul>
                                <li>
                                    <a href="/partnership">Partnership</a>
                                </li>
                                <li>
                                    <a href="#whatYouCreate">What you can create</a>
                                </li>
                                <li>
                                    <a href="#howItWorks">How it works</a>
                                </li>
                                <li>
                                    <a href="#sectionValue">Value</a>
                                </li>
							</ul>
						</nav>
                    </div>
                    <div class="item">
                        <h3>
                            About AIVI
                        </h3>
                        <nav class="nav">
							<ul>
                                <li>
                                    <a href="/about-us">About us</a>
                                </li>
                                <li>
                                    <a href="/contacts">Contact us</a>
                                </li>
                                <li>
                                    <a href="#sectionReviews">Reviews</a>
                                </li>
                                <li>
                                    <a href="#proofAnswers">Proof & answers</a>
                                </li>
                                <li>
                                    <a href="#sectionContacts">Contacts</a>
                                </li>
							</ul>
						</nav>
                    </div>
                    <div class="item">
                        <h3>
                            Legal & Identity
                        </h3>
                        <nav>
							<ul>
                                <li>
                                    <a href="/privacy_policy.pdf" target="_blank">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/terms_of_service.pdf" target="_blank">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="/shipping_policy.pdf" target="_blank">Shipping Policy</a>
                                </li>
                                <!-- <li>
                                    <a href="#" target="_blank">Cookie Policy</a>
                                </li> -->
                                <li>
                                    <a href="/return_refund_policy.pdf" target="_blank">Return Refund Policy</a>
                                </li>
							</ul>
						</nav>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <span class="copyright">
                    © 2026 AIVI. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
