<header class="header">
	<div class="wrapper">
		<div class="header__container">
            <a href="/" class="logo-link">
				neola.systems
			</a>
            <button class="burger btn-transparent btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
                <div class="icon">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8" cy="24" r="6" fill="white"/>
                        <circle cx="24" cy="24" r="6" fill="white"/>
                        <circle cx="40" cy="24" r="6" fill="white"/>
                    </svg>
                </div>
            </button>
			<div class="mobile-menu" data-menu>
				<div class="mobile-menu__container">
					<div class="mobile-menu__content">
						<div class="wrapper">
							<div class="mobile-menu__top">
                                <a href="/" class="logo-link">
                                    neola.systems
                                </a>
                                <button class="btn-reset btn-menu-close">
                                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.22803 26.6838L26.6839 1.22792" stroke="white" stroke-opacity="0.8" stroke-linecap="round"/>
                                        <path d="M25.9561 25.9558L0.500212 0.500002" stroke="white" stroke-opacity="0.8" stroke-linecap="round"/>
                                    </svg>
                                </button>
                            </div>
						</div>
						<nav class="nav">
							<ul>
                                <li>
                                    <a href="/partnership">Partnership</a>
                                </li>
                                <li>
                                    <a href="/contacts">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#whatYouCreate">What you can create</a>
                                </li>
                                <li>
                                    <a href="#howItWorks">How it works</a>
                                </li>
                                <li>
                                    <a href="#sectionValue">Value</a>
                                </li>
                                <li>
                                    <a href="/about-us">About us</a>
                                </li>
                                <li>
                                    <a href="#sectionReviews">Reviews</a>
                                </li>
                                <li>
                                    <a href="#proofAnswers">Proof & answers</a>
                                </li>
                                <li>
                                    <a href="#sectionContacts">Contacts</a>
                                </li>
							</ul>
						</nav>
                        <div class="wrapper">
                            <div class="mobile-menu__bottom">
                                <ul class="socials list-reset">
                                    <li>
                                        <a href="https://www.instagram.com/aivi.limited/" class="socials__link" target="_blank">
                                            <svg class="icon">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.tiktok.com/@aivi.limited" class="socials__link" target="_blank">
                                            <svg class="icon">
                                                <use href="./images/sprite.svg#tiktok"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="socials__link" target="_blank">
                                            <svg class="icon">
                                                <use href="./images/sprite.svg#telegram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <a class="mailto" href="mailto:info@aivi.limited">
                                    info@aivi.limited
                                </a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
