<div class="page-legal">
    <section class="legal">
        <div class="wrapper">
            <h1>
                PRIVACY POLICY
            </h1>
            <p>
                Date of entry into force: "07" of November, 2023
            </p>
        </div>
    </section>
    <div class="legal-body">
        <div class="wrapper">
            <div class="legal-body__container">
                <p>
                    "NEOLA SYSTEMS" Ltd. (hereinafter "Enterprise" or "We") which is the owner and administrator of the website <a href="https://neola.systems/">https://neola.systems/</a> and all related subdomains and pages, respects the right of everyone to the protection and confidentiality of personal data.
                </p>
                <p>
                    This Privacy Policy explains how we collect, use, and distribute information about the User (hereinafter referred to as "User" or "You") obtained through our online interfaces owned and operated by us (such as websites, e-mail and other channels of communications), including through this website (hereinafter - the "Site").
                    <br>
                    This Policy also sets out the measures we take to ensure the protection of personal data and the procedures for obtaining information about our personal data protection mechanisms.
                    Please read this document carefully to understand how we process this information. If you do not understand any of the provisions of this Privacy Policy, please email us at office@neola.systems. Please note that the use of the Site is also governed by the Terms of Use.
                </p>
                <br><br>
                <h2>
                    Subject of privacy policy
                </h2>
                <p>
                    This Privacy Policy applies to information we receive from users through the Site or other digital resources (hereinafter referred to as the "Services"). Personal data is provided by users only for access to some of the functions and services of our Services, such as the feedback form, personal account.
                </p>
                <p>
                    If the Service User does not use such features or services, we only collect information that does not identify the user and is impersonal data: for example, a list of web pages viewed.
                </p>
                <p>
                    To access some other functions of the Site, the User must provide information that allows him to be identified (hereinafter - "Personal Data"): name and surname, e-mail address, telephone number, etc.
                </p>
                <p>
                    The User is responsible for the accuracy of the information and personal data that he provides to us. In case of providing inaccurate data, the User will not be able to use all the features of the site and receive useful information, and We will not be able to contact the User. For example, we always need to make sure that the User provides a relevant email address, as this is one of the main ways to communicate with the User.
                </p>
                <p>
                    By providing Personal Data, the User agrees that the We may collect, use and disclose them in accordance with the provisions of this Privacy Policy and Terms of Use, as well as the requirements of the laws of the Republic of Bulgaria.
                </p>
                <p>
                    If the User does not agree to these terms, the User has the right not to provide us with their Personal Data. In this case, some services of our Site will be unavailable to the User.
                </p>
                <br><br>
                <h2>
                    Personal data we collect
                </h2>
                <p>
                    We have the right to receive information from you from various sources:
                </p>
                <ul>
                    <li>
                        when you use our Services;
                    </li>
                    <li>
                        from our authorized representatives, contractors, dealers or licensees, as well as other persons to whom you have provided your Personal Data, which we need to provide you with relevant services;
                    </li>
                    <li>
                        from companies that use or ensure the use of our Services;
                    </li>
                    <li>
                        as a result of your response to our calls, marketing or other messages;
through social networks;
                    </li>
                    <li>
                        as a result of your choice of product or service of the Enterprise;
                    </li>
                    <li>
                        as a result of your participation in our information and advertising activities;
                    </li>
                    <li>
                        from third parties who have disclosed to us your personal data collected by such third parties based on your consent.
                    </li>
                </ul>
                <p>
                    Personal data that We may receive, or You may transfer to us include:
                </p>
                <ul>
                    <li>
                        contact information (name, position, postal or e-mail address and telephone number);
                    </li>
                    <li>
                        working contact information (e.g. position, department and company name);
                    </li>
                    <li>
                        cookies and web beacons (you can read more about this in our <a href="Cookies Policy">Cookies Policy</a>);
                    </li>
                    <li>
                        other information (e.g. purchasing behavior and preferences, language, age, date of birth).
                    </li>
                </ul>
                <br><br>
                <h2>
                    Purpose of personal data processing
                </h2>
                <p>
                    We process your personal with the following purpose:
                </p>
                <ul>
                    <li>
                        communicating with you about our products and services;
                    </li>
                    <li>
                        management, evaluation, and improvement of our activities;
                    </li>
                    <li>
                        improving existing and creating new products and services;
                    </li>
                    <li>
                        communication process management;
                    </li>
                    <li>
                        determining the effectiveness and optimization of our advertising and promotional activities;
                    </li>
                    <li>
                        carrying out actions related to tax or accounting, auditing, invoicing, reconciliation, and payment;
                    </li>
                    <li>
                        debt collection for the use of our products or services;
                    </li>
                    <li>
                        assessing your interest in our products and services, and contacting you in connection with possible cooperation;
                    </li>
                    <li>
                        ensuring compliance with our Terms of Use or protecting other rights under applicable law;
                    </li>
                    <li>
                        protection of accounts from unauthorized access;
                    </li>
                    <li>
                        in accordance with the requirements of any applicable law or in the course of any legal proceedings, or at the request of any public authority that has or claims to have jurisdiction over the Enterprise or an affiliate of the Enterprise;
                    </li>
                    <li>
                        processing your transactions using our websites and other digital resources.
                    </li>
                </ul>
                <p>
                    We also have the right to use this data for other lawful purposes, as we report separately during the collection of your personal data.
                </p>
                <br><br>
                <h2>
                    Personal information we distribute
                </h2>
                <p>
                    We do not sell, disclose, or otherwise distribute your personal information that we collect, except as required by applicable law and this Privacy Policy, or when we warn you of this during data collection.
                </p>
                <p>
                    We have the right to disclose and distribute the personal data we collect to the following persons:
                </p>
                <ul>
                    <li>
                        our affiliates, banking and financial institutions and other legal entities involved in the development or technical support of our products and services, contractors, dealers or licensees;
                    </li>
                    <li>
                        legal entities that prevent fraud or unauthorized access to our products and services;
                    </li>
                    <li>
                        to other third parties with your consent. When the Enterprise acts as a supplier or customer of products and services to third parties, we have the right to disclose to them personal data that we have collected on their behalf;
                    </li>
                    <li>
                        within the Group of Companies or affiliates in accordance with the terms of this Policy or other terms that we notify you of during data collection.
                    </li>
                    <li>
                        competent public authorities that have approached us within their legal powers.
                    </li>
                </ul>
                <p>
                    Please note that if you use our products and services in conjunction with third party products and services (such as social networks, search engines), we encourage you to review such privacy policies and terms use of their products or services. These third parties may use and/or disclose personal information in accordance with their own privacy policies or terms of use.
                </p>
                <p>
                    We have the right to disclose information about you:
                </p>
                <ul>
                    <li>
                        if required by the legislation of the Republic of Bulgaria or within the framework of court proceedings;
                    </li>
                    <li>
                        if we believe that such disclosure is necessary to prevent harm or financial loss;
                    </li>
                    <li>
                        in other cases when required by applicable law.
                    </li>
                </ul>
                <br><br>
                <h2>
                    Consent to the processingof personal data
                </h2>
                <p>
                    By using our Services, by filling in and sending the electronic form with your personal data, you confirm that you are familiar with and agree to the terms of this Privacy Policy, and in accordance with applicable law voluntarily provide the Enterprise and our authorized representatives and officials your unambiguous consent to the processing of personal data provided by you in electronic form and voluntarily provided to us for the purpose of processing.
                </p>
                <p>
                    Consent to the processing of personal data is provided by you in order to ensure the implementation of contractual relations, as well as relations in the field of advertising and marketing, in accordance with the applicable laws.
                </p>
                <p>
                    You grant the Enterprise and our authorized representatives and officials the right to provide you with any commercial and/or informational information about the Enterprise and/or our partners by e-mail, telephone and/or SMS, and by any other means of communications.
                </p>
                <p>
                    You allow us to process your personal data only for the period necessary to achieve the purpose of their processing unless applicable law requires us to store it for a longer period.
                </p>
                <p>
                    If the set storage time expires, your data will be deleted if it is no longer required for the purposes for which it was collected.
                </p>
                <p>
                    By completing and sending the electronic form to the Company, you confirm that you have been informed (a) about the inclusion of your personal data in the personal database "Clients" owned by the Enterprise, the purpose of collecting and processing personal data (according to the purpose specified in this document), about your rights pertaining your data as follows:
                </p>
                <ul>
                    <li>
                        The right to withdraw consent
                    </li>
                    <li>
                        The right of access
                    </li>
                    <li>
                        The right to erasure
                    </li>
                    <li>
                        The right to rectification
                    </li>
                    <li>
                        The right to data portability
                    </li>
                    <li>
                        The right to object
                    </li>
                    <li>
                        Notification of data breaches
                    </li>
                    <li>
                        The right to lodge a complaint with a supervisory authority
                    </li>
                </ul>
                <p>
                    You may also have other rights under applicable law.
                </p>
                <p>
                    However, you have the right not to transfer personal data to the Enterprise or to refuse to directly transfer information to us. You may also require us to delete your personal data that we process. However, in these cases you will not be able to use the full functionality of our Services or you will not be able to use them at all. On the other hand, we will no longer be able to supply or inform you about these products and services.
                </p>
                <p>
                    You have the right to revoke any consent given to us before, or at any time legally object to the processing of your personal data. We will consider your decision for all further actions. If you have withdrawn your consent to the use or disclosure of your personal data, in some cases you will not be able to use certain products or services of the Company.
                </p>
                <p>
                    To exercise these rights, please contact us by the means of communication specified in the "Contacts" section.
                </p>
                <br><br>
                <h2>
                    Cross-border transmission of datato other countries
                </h2>
                <p>
                    By using our products and services, you agree that we may transfer personal data to other countries, and not only store and process it in the country in which it was collected or in which you are located. Cross-border transfer of personal data to other countries may be carried out by us exclusively for the purpose of their processing or storage by authorized administrators (processors) of personal data using cloud and other online services, hosting services. During such data transmission, we and our service providers will take all measures to protect them provided by applicable law.
                </p>
                <p>
                    We also undertake to comply with the legal and technical requirements for the protection of information and personal data required by applicable law.
                </p>
                <br><br>
                <h2>
                    Storage and protection of personal data
                </h2>
                <p>
                    We and our service providers guarantee the security and protection of your personal data. We and our service providers use information security measures to protect the personal data we collect and process. We and our service providers protect the personal information we collect from accidental, unlawful, or unauthorized destruction, loss, alteration, compromise, access, disclosure or use. We use reliable information security algorithms in our work.
                </p>
                <br><br>
                <h2>
                    Statistics
                </h2>
                <p>
                    The website uses a minimal version of Google Analytics and Facebook pixel to analyze website traffic trends and enhance user experience. This minimal version processes personal data, including the unique User ID set by Google Analytics, date and time, page title, page URL, previous page URL, screen resolution, local timezone, clicked files and downloads, external domain links clicked, device type, and country, region, and city.
You can opt out of this tracking at any time by enabling the "Do Not Track" setting in your browser.
                </p>
                <br><br>
                <h2>
                    Embedded content from other websites
                </h2>
                <p>
                    Articles on the website may include embedded content (e.g., videos, charts) from other websites. This embedded content behaves similarly to if you had visited the other website directly. These websites may collect data about you, use cookies, embed third-party tracking, and monitor your interaction with the embedded content, including tracing your interaction if you have an account and are logged in to that website.
                </p>
                <br><br>
                <h2>
                    Links to other products and services
                </h2>
                <p>
                    Our Services may be used in conjunction with the products and services of our service providers (for instance, mailings platforms <a href="https://smaily.com/" target="_blank">https://smaily.com/</a> and <a href="https://sendpulse.com/" target="_blank">https://sendpulse.com/</a>). We have the right to place links to sites of other products and services in our Services.
                    <br>
                    Third-party products and services, as well as their sites, operate independently of the Enterprise and are governed by their own privacy policies and terms of use. We believe that you should read their privacy policies and terms of use before using them. At the same time, we are not responsible for the content of such products, services, or sites, as well as the actions of third parties.
                </p>
                <br><br>
                <h2>
                    Action of this policy, changes and messages
                </h2>
                <p>
                    This Privacy Policy is effective upon posting on this Site. We will review our privacy practices from time to time, including the provisions of this Privacy Policy.
                </p>
                <p>
                    All changes and updates will take effect immediately after their publication on the Site. After making changes to the Privacy Policy, we will notify you within a reasonable time by posting a notice on the main page of the Site and indicating a new effective date at the top of this page. We encourage you to periodically review this page to keep abreast of the latest changes to our Privacy Policy.
                </p>
                <br><br>
                <h2>
                    Contacts
                </h2>
                <p>
                    Any questions and suggestions on these Terms of Use can be sent to our e-mail <a href="mailto:office@neola.systems">office@neola.systems</a> or at the following postal address:
                </p>
                <p>
                    "NEOLA SYSTEMS" LTD.<br>
                    Aleja Stanów Zjednoczonych 59, 04-028 Warsaw, Poland<br>
                    Sąd Rejonowy dla m.st. Warszawy w Warszawie,<br>
                    XIV Wydział Gospodarczy Krajowego Rejestru Sądowego
                </p>
                <p>
                    Contact telephones:<br>
                    <a href="tel:+48221524821">+48 22 152 48 21</a>
                </p>
            </div>
        </div>
    </div>
</div>
