<div class="page-legal">
    <section class="legal">
        <div class="wrapper">
            <h1>
                COOKIES POLICY
            </h1>
            <p>
                Date of entry into force: "07" of November, 2023
            </p>
        </div>
    </section>
    <div class="legal-body">
        <div class="wrapper">
            <div class="legal-body__container">
                <p>
                    "NEOLA SYSTEMS" Ltd. (hereinafter "Enterprise" or "We") offers you to use the site <a href="https://neola.systems/">https://neola.systems/</a> and related subdomains or services (hereinafter "Site") in order to use the products and services of the Enterprise.
                </p>
                <p>
                    By using the Site, you accept and agree to these Terms of Use (hereinafter referred to as the "Terms of Use") without any restrictions, exceptions, or disclaimers.
                    <br>
                    If you do not agree to these Terms of Use, you may not use the Site in its entirety. 
                </p>
                <br><br>
                <h2>
                    Content of the site and services. General conditions
                </h2>
                <p>
                    By using this Site, you agree to the following:
                </p>
                <ul>
                    <li>
                        You receive a revocable limited non-exclusive license to view, distribute, print or download any content and materials we upload to the public domain of this Site for your personal non-commercial use;
                    </li>
                    <li>
                        You obtain a revocable limited non-exclusive license to distribute hyperlinks to the public portion of this Site or any of its public content or materials;
                    </li>
                    <li>
                        You are prohibited from distributing any content, materials or information you have received from us through the "Personal Cabinet" section of the Site;
                    </li>
                    <li>
                        You may not access or use the Site in any way that could harm the Site itself, or any software or hardware underlying the Site, or interfere with the work of other users of the Site;
                    </li>
                    <li>
                        You are prohibited from collecting personal data and other personal information of other users of the Site.
                    </li>
                </ul>
                <p>
                    Except as provided in these Terms of Use for the limited rights expressly granted to you in this document, all rights to all content, materials or information on this Site are protected and belong to the Enterprise.
                </p>
                <p>
                    We reserve the right to terminate access to this Site, to deny access to it to any person without notice in our sole discretion and for any reason, including violation of any of our rights and interests protected by law.
                </p>
                <p>
                    The terms of use of certain products or services provided through this Site may contain features that are determined by certain terms of use of such products and services.
                </p>
                <br><br>
                <h2>
                    Intellectual property
                </h2>
                <p>
                    The Company grants you a limited, personal, non-exclusive and revocable license to use the content and any materials or information obtained in the course of using the Site. You may use the materials and any information posted by the Company on this Site only for personal non-commercial use, unless you have received written permission from the Company to use them for other purposes. 
                </p>
                <p>
                    The Company does not allow you to license, publish, distribute, copy, transfer, sublicense, sell, prepare derivative works, disassemble, decompile, modify, reverse engineer, post on other sites, modify or distribute otherwise or use any content and materials of the Site. 
                </p>
                <p>
                    Nothing on this Site may be construed as granting any license or right to commercially use any trademark of the Enterprise or other intellectual property of the Enterprise without the prior express written permission of the Enterprise. All objects of intellectual property rights of the Enterprise reflected on this Site remain the property of the Enterprise. 
                </p>
                <p>
                    You agree to create and use only one account to use our services and agree not to share access or credentials with third parties to access it. 
                </p>
                <p>
                    Visiting this Site and using our services does not grant you intellectual or other property rights to the services, content or materials used
                </p>
                <p>
                    If you upload your content or materials to the site, you grant the Enterprise a free, perpetual, non-exclusive, worldwide license to use, copy, distribute, modify, publicly distribute, and reproduce your content or materials, as well as to create derivative works and use them for other purposes.
                </p>
                <p>
                    The above license entitles the Enterprise to provide your materials to other users of the Site, our employees, affiliates, or partners. This condition does not limit our legal rights to your content or materials, such as other licenses. The Enterprise has the right to remove or modify your content or materials for any reason, including if, in the Enterprise's view, they do not comply with these Terms of Use or applicable law.  
                </p>
                <br><br>
                <h2>
                    Feedback
                </h2>
                <p>
                    As a user of the Site, you can submit your own messages to us. You are solely responsible for the information you provide in the feedback forms with you. In this regard, you confirm, declare and/or guarantee that the information provided by you is accurate. 
                </p>
                <br><br>
                <h2>
                    Commercial offers
                </h2>
                <p>
                    We may post commercial offers, information on discounts or benefits on our products or services. Such offers are subject to certain conditions and are subject to change at any time without prior notice on our part.
                </p>
                <br><br>
                <h2>
                    Third party materials and content
                </h2>
                <p>
                    The Site may contain materials, third party content or links to other websites that are completely independent of this Site. Third party materials and content and links are included solely for the convenience of users and do not constitute our endorsement, permission, or warranty from the Enterprise. We are not responsible for the accuracy, completeness or accuracy of third-party information or products or services offered or sold through any linked website. Therefore, you are solely responsible for the use of third-party information. Any agreements, transactions or other arrangements made between you and a third party are at your own risk. By transferring a third-party site, you leave our Site.
                </p>
                <p>
                    In no event will the Enterprise collect or control any personal information you provide on such third-party site, and it is governed by the privacy and use of such site. Please read our privacy policy and terms of use on this site and learn more about their privacy policies.
                </p>
                <br><br>
                <h2>
                    Confidentiality and cookie
                </h2>
                <p>
                    The Enterprise recognizes the importance of maintaining the confidentiality of information about people who visit our Site or use our services. The terms of processing of your personal data that you may provide to us while using this Site or our services, as well as the terms of our use of cookies are set out in the Privacy Policy posted on this Site and are an integral part of these Terms of Use.
                </p>
                <br><br>
                <h2>
                    Responsibility
                </h2>
                <p>
                    For non-performance or improper performance of obligations specified in these Terms of Use, the guilty party is liable in accordance with applicable law of the Republic of Bulgaria.
                </p>
                <p>
                    THE PRODUCT AND SERVICES OF THE ENTERPRISE AND ALL RELATED MATERIALS ARE PROVIDED "AS IS" WITHOUT DIRECT WARRANTIES. The Enterprise does not provide any guarantees, including commercial suitability, suitability for the sale and use of and non -release of others, guarantees arising from business relations or customs of business circulation. IN ADDITION, THE COMPANY DISCLAIMS THE LIABILITY CONCERNED BY THE USER'S ACCESS TO THE PRODUCTS AND SERVICES, AS WELL. USER AGREES TO ACCESS OUR PRODUCTS AND SERVICES AND USE THEM AT YOUR OWN RISK.
                </p>
                <p>
                    For non-performance or improper performance of obligations specified in these Terms of Use, the guilty party is liable in accordance with applicable law of the Republic of Bulgaria.
                </p>
                <p>
                    To the maximum extent permitted by the applicable legislation, the Enterprise is not liable for indirect, incidental, actual, indirect or direct damages, direct or indirect lost profits or loss of income, loss of data, performance, goodwill or other intangible assets related to access to a) the user to the Site and our Services or the impossibility of such access or use; b) with materials or conduct, including shameful, offensive or illegal, of any third party; or c) with unauthorized access, use or alteration of the User's materials or information. In no case may the aggregate liability for all claims for services exceed the greater of the following two amounts: fifty US dollars (US $50) or the total amount received from you for the use of paid services in the last six months.
                </p>
                <p>
                    You agree that the disclaimers and limitations of liability set forth in these Terms of Use reflect a reasonable and equitable distribution of risks and are a prerequisite for the provision of services by the Enterprise for an affordable fee.
                </p>
                <p>
                    You agree that any claim relating to the Site or our Services must be brought before a court within one (1) year of the statute of limitations after the grounds for it have arisen, otherwise this period shall be deemed missed.
                </p>
                <br><br>
                <h2>
                    Effect of these terms, changes and messages
                </h2>
                <p>
                    These Terms of Use become effective upon posting on this Site. From time to time, we will review the terms of our services, including the terms of these Terms of Use.
                </p>
                <p>
                    All changes and updates will take effect immediately after their publication on the Site. After making changes to these Terms of Use, we will notify you within a reasonable time by posting a notice on the main page of the Site and indicating a new effective date at the top of this page. We encourage you to periodically review this page to stay up to date with the latest changes to our Terms of Use.
                </p>
                <p>
                    The Enterprise reserves the right to change or modify the content, materials or information we post on this Site or on our services, including data at any time without notice.
                </p>
                <br><br>
                <h2>
                    Final provisions
                </h2>
                <p>
                   By using this Site, you agree to these terms and acknowledge that any disputes between you and the Enterprise or claims will be resolved through negotiations.
                </p>
                <p>
                    You are informed that this Site and other services are provided by the Company, which is registered and operates under the laws of the Republic of Bulgaria, the actual place of business of which is also located in the Republic of Bulgaria. In view of this, you have agreed to consider the place of registration of the enterprise specified in the "Contacts" section of these Terms as the place of approval of these Terms and the place of provision of products and services.
                </p>
                <p>
                    By using this Site and other services of the Enterprise, you agree that all disputes related to these Terms will be considered in accordance with the laws of the Republic of Bulgaria without regard to the rules of conflict of laws. You also agree that all such disputes are within the exclusive jurisdiction of the courts of the Republic of Bulgaria.
                </p>
                <p>
                    The headings used in these Terms are for reference and ease of use only. These headings may not be construed as limiting or modifying or affecting the meaning and content of these Terms or any part thereof.
                </p>
                <p>
                    If any of the provisions of these Terms is invalidated, the validity of its other provisions shall not be lost.
                </p>
                <p>
                    In all cases not provided for in these Terms of Use, you should be guided by current legislation of Ukraine.
                </p>
                <br><br>
                <h2>
                    Contacts
                </h2>
                <p>
                    Any questions and suggestions on these Terms of Use can be sent to our e-mail <a href="mailto:office@neola.systems">office@neola.systems</a> or at the following postal address:
                </p>
                <p>
                    "NEOLA SYSTEMS" LTD.<br>
                    Aleja Stanów Zjednoczonych 59, 04-028 Warsaw, Poland<br>
                    Sąd Rejonowy dla m.st. Warszawy w Warszawie,<br>
                    XIV Wydział Gospodarczy Krajowego Rejestru Sądowego
                </p>
                <p>
                    Contact telephones:<br>
                    <a href="tel:+48221524821">+48 22 152 48 21</a>
                </p>
            </div>
        </div>
    </div>
</div>
