@use "../../mixins/breakpoint";


@include breakpoint.small-desktop {
    .footer {
        &__top {
            gap: 115px;
        }
    }
}

@include breakpoint.tablet {
    .footer {
        &__top {
            flex-wrap: wrap;
            gap: 40px;
        }
        &__contacts {
            gap: 40px;
        }
        &__main {
            flex-wrap: wrap;
        }
        &__contacts {
            .item {
                a[href^="mailto:"],
                a[href^="tel:"] {
                    white-space: nowrap;
                }
            }
        }
        &__bottom {
            .privacy-links {
                ul {
                    gap: 4px;

                    a {
                        padding-inline: 12px;
                    }
                }
            }
        }
    }
}

@include breakpoint.small-tablet {
    .footer {
        &__bottom {
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 40px;

            .privacy-links {
                ul {
                    flex-direction: column;
                    gap: 20px;

                    a {
                        padding-inline: 17px;
                    }
                }
            }
        }
    }
}

@include breakpoint.mobile {
    .footer {
        padding-top: 56px;
        padding-bottom: 32px;

        &__top {
            flex-direction: column;
        }

        .nav {
            > ul {
                flex-direction: column;

                > li > ul {
                    > li > ul {
                        > li:not(:last-child) {
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }

        &__main {
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        &__contacts {
            flex-direction: column;
            gap: 20px;

            a {
                br {
                    display: none;
                }
            }
        }
    }
}
