@use "../../mixins/breakpoint";
@use "../../mixins/mini";
@use "../../mixins/content";


@include breakpoint.middle-tablet {
    .header {
        &__menu-wrapper {
            padding: 4px;
            gap: 4px;
        }

        .nav {
            > ul {
                > li > ul {
                    top: 50px;
                }
            }
            ul {
                gap: 4px;

                a {
                    font-size: 14px;
                    padding: 4px;
                }
            }
        }
    }
}

@include breakpoint.small-tablet {
    .header {
        &__menu-wrapper {
            display: none;

            padding: 8px;
            gap: 8px;
        }

        .nav {
            ul {
                gap: 8px;

                a {
                    font-size: 15px;
                    padding: 8px;
                }
            }

            > ul {
                > li {
                    &.parent {
                        > a {
                            display: flex;
                            margin-inline: auto;
                            max-width: fit-content;

                            &.show {
                                color: var(--primary-500);

                                &::after {
                                    transform: translateY(-50%) rotate(180deg);
                                    filter: invert(49%) sepia(98%) saturate(3336%) hue-rotate(192deg) brightness(102%) contrast(103%);
                                }
                            }
                        }

                        &:hover {
                            > ul:not(.show) {
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                    }
                }

                > li > ul {
                    &.show {
                        position: static;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .mobile-menu {
            .nav {
                width: 100%;

                > ul {
                    align-items: flex-start;

                    > li {
                        width: 100%;

                        &.parent {
                            a {
                                max-width: inherit;

                                &::after {
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                        }
                    }

                    > li > ul {
                        display: flex;
                        z-index: -1;

                        span {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 140%;
                            color: var(--grey-6);
                            padding-right: 26px;
                            position: relative;
                            margin-bottom: 8px;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                right: 6px;
                                top: 50%;
                                transform: translateY(-50%);
                                background-image: url(../images/icon/arrow.svg);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                                transition: all ease-in-out 0.4s;
                            }
                        }

                        a {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 140%;
                            text-align: center;
                            color: var(--500);
                            padding: 0;
                        }

                        > li {
                            &.parent {
                                ul {
                                    li {
                                        &:not(:last-child) {
                                            margin-bottom: 8px;
                                        }
                                    }
                                    visibility: hidden;
                                    opacity: 0;
                                    max-height: 0;
                                    transition: all ease-in-out 0.4s;
                                }

                                &.show {
                                    z-index: 1;

                                    span {
                                        &::after {
                                            transform: translateY(-50%) rotate(180deg);
                                        }
                                    }

                                    ul {
                                        visibility: visible;
                                        opacity: 1;
                                        max-height: 400px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .burger {
            display: flex;
        }
    }
}

@include breakpoint.mobile {
    .header {
        .logo-link {
            img {
                max-width: 80px;
            }
        }

        .mobile-menu {
            .logo-link {
                img {
                    max-width: inherit;
                }
            }

            .search-btn {
                img {
                    min-width: 34px;
                }
            }
        }

        &__right {
            .mod-languages {
                display: none;
            }
        }
    }
}

@include breakpoint.small-mobile {
    .header {
        .logo-link {
            img {
                max-width: 70px;
            }
        }

        &__right {
            .btn {
                &--cta {
                    font-size: 14px;
                    padding: 8px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .burger {
            min-width: 50px;
            height: 50px;
        }

        .mobile-menu {
            &__content {
                overflow-y: auto;
            }

            .nav {
                margin-top: 30px;
            }

            &__top {
                gap: 10px;

                .btn {
                    &--cta {
                        padding: 8px;

                        img {
                            display: none;
                        }
                    }
                }
            }
            &__bottom {
                margin-top: 30px;

                .mod-languages {
                    .dropdown-toggle {
                        min-width: 61px;
                    }

                    .dropdown-menu {
                        a {
                            min-width: 61px;
                        }
                    }
                }
            }
        }
    }
}
