@use "../../mixins/breakpoint";
@use "../../mixins/mini";
@use "../../mixins/content";


@include breakpoint.middle-tablet {
    .header {
        &__menu-wrapper {
            padding: 4px;
            gap: 4px;
        }

        .nav {
            > ul {
                > li > ul {
                    top: 50px;
                }
            }
            ul {
                gap: 4px;

                a {
                    font-size: 14px;
                    padding: 4px;
                }
            }
        }
    }
}

@include breakpoint.small-tablet {
    .header {
        &__menu-wrapper {
            display: none;

            padding: 8px;
            gap: 8px;
        }

        .nav {
            ul {
                gap: 8px;

                a {
                    font-size: 15px;
                    padding: 8px;
                }
            }

            &:hover {
                > ul {
                    > li > ul {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            > ul {
                > li {
                    &.parent {
                        > a {
                            display: flex;
                            margin-inline: auto;
                            max-width: fit-content;

                            &.show {
                                color: var(--primary-500);

                                &::after {
                                    transform: translateY(-50%) rotate(180deg);
                                    filter: invert(49%) sepia(98%) saturate(3336%) hue-rotate(192deg) brightness(102%) contrast(103%);
                                }
                            }
                        }
                    }
                }

                > li > ul {
                    &.show {
                        position: static;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .mobile-menu {
            .nav {
                > ul {
                    > li > ul {
                        a {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .burger {
            display: flex;
        }
    }
}

@include breakpoint.mobile {
    .header {
        .logo-link {
            img {
                max-width: 80px;
            }
        }

        .mobile-menu {
            .logo-link {
                img {
                    max-width: inherit;
                }
            }
        }

        &__right {
            .mod-languages {
                display: none;
            }
        }
    }
}

@include breakpoint.small-mobile {
    .header {
        &__right {
            .btn {
                &--cta {
                    font-size: 14px;
                    padding: 8px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .burger {
            svg {
                width: 36px;
                height: 36px;
            }
        }

        .mobile-menu {
            &__bottom {
                .mod-languages {
                    .dropdown-toggle {
                        min-width: 61px;
                    }

                    .dropdown-menu {
                        a {
                            min-width: 61px;
                        }
                    }
                }
            }
        }
    }
}
