@use "../../mixins/breakpoint";
@use "../../mixins/mini";

@include breakpoint.large-desktop {
    .main-screen {
        .content {
            max-width: 784px;
        }
    }
    .accordion {
        .content {
            max-width: 553px;
        }
    }
}

@include breakpoint.small-desktop {
    .page-hp {
        .workplace {
            .images {
                img {
                    max-width: 520px;
                }
            }
        }

        .build {
            .item {
                min-width: 320px;
            }
        }
    }

    .accordion {
        .images {
            img {
                max-width: 520px;
            }
        }

        .content {
            max-width: inherit;
        }
    }
}

@include breakpoint.tablet {
    .page-hp {
        .main-screen {
            display: flex;

            &__container {
                align-items: inherit;
                gap: 16px;
            }

            .content {
                display: flex;
                flex-direction: column-reverse;
                gap: 16px;
            }
        }

        .workplace {
            padding-block: 80px;

            &__container {
                flex-direction: column-reverse;
                gap: 56px;
            }

            .images {
                text-align: center;
            }

            &--reverse {
                .workplace {
                    &__container {
                        flex-direction: column;
                    }
                }
            }
        }

        .build {
            padding-block: 80px;

            &__container {
                flex-direction: column;
            }
        }
    }

    .accordion {
        padding-block: 80px;

        &__container {
            flex-direction: column;
        }

        .images {
            text-align: center;
        }

        &--reverse {
            .accordion {
                &__container {
                    flex-direction: column-reverse;
                }
            }
        }
    }

    .page-apple {
        .main-screen {
            padding-bottom: 65px;

            &__container {
                flex-direction: column;
            }

            .content {
                flex-direction: column;
                gap: 0;
            }
        }
    }
}

@include breakpoint.small-tablet {
    .page-hp {
        .workplace {
            padding-block: 40px;

            .content {
                p {
                    margin-block: 20px;
                }
            }

            &__container {
                gap: 30px;
            }

            .images {
                img {
                    width: 100%;
                }
            }
        }

        .build {
            padding-block: 40px;

            &__container {
                gap: 56px;
            }

            .content {
                p {
                    margin-block: 20px;
                }
            }

            .grid-wrap {
                grid-template-columns: 1fr;
                gap: 8px;
            }

            .item {
                padding: 20px 16px;
                min-height: 112px;
                min-width: 300px;
                border-radius: 28px 28px 0 28px;

                h3 {
                    margin-top: 0;
                    font-size: 28px;
                }

                .show-more {
                    top: 50%;
                    bottom: inherit;
                    transform: translateY(-50%);
                    left: inherit;
                    right: 16px;

                    img {
                        transform: rotate(270deg);
                    }
                }

                &.show {
                    padding: 20px 16px;
                    min-height: 400px;

                    h3 {
                        br {
                            display: block;
                        }
                    }

                    p {
                        margin-top: 25px;
                    }

                     .show-more {
                        transform: none;
                        bottom: inherit;
                        top: 20px;

                        img {
                            transform: rotate(-270deg);
                        }
                    }

                    &.item {
                        &--first,
                        &--second,
                        &--third,
                        &--fourth {
                            .show-more {
                                img {
                                    transform: rotate(-270deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .accordion {
        padding-block: 40px;

        .images {
            img {
                width: 100%;
            }
        }
    }
}

@include breakpoint.mobile {
    .page-hp {
        .main-screen {
            background-position: center right -400px;

            .banner {
                border-radius: 36px;
            }

            .company {
                min-width: inherit;
            }
        }

        .workplace {
            .section-title {
                br {
                    display: none;
                }
            }

            .btn {
                max-width: inherit;
                justify-content: center;
            }
        }

        .build {
            .item {
                justify-content: center;
                min-width: 280px;

                .btn {
                    font-size: 18px;
                    padding-inline: 12px;
                }

                &.show {
                    .btn {
                        margin-top: 25px;
                    }
                }
            }

            .btn {
                max-width: inherit;
                justify-content: center;
            }
        }
    }

    .accordion {
        &__container {
            gap: 30px;
        }

        .section-title {
            br {
                display: none;
            }
        }
    }

    .page-apple {
        .main-screen {
            background-position: center left -530px;
        }
    }
}
